
img, video {
  max-width: 100%;
  height: auto;
  border-radius: var(--standard-border-radius);
}

img::before {
  outline: 2px solid red;
}

figure {
  margin: 0;
  display: block;
  overflow-x: auto;

  img, picture > img {
    display: block;
    margin-inline: auto;
  }
}

figcaption {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-light);
  margin-block: 1rem;
}

img:not(.emoji), video {
  display: block;
  margin: auto;
}

svg.icon {
  width: 1em;
  height: 1.1em;
  vertical-align: sub;
  margin: 0 0.2rem;
  filter: invert();
}
